@{
    ViewBag.Title = "Info";
}

<br />
<p class="text-center font-weight-bold">
    <font color="#000066" size="20" face="arial">Restaurant Web Application</font>
</p>

<p>This application has been developed by Délio Rolo and it is being updated regularly.</p>
<p>This is a primary version in order to present the work already done in the field of ASP .NET MVC.</p>
<p>It has the possibility to have data access through direct access to a database or by consuming a WebAPI service that is included in the same solution, connected to a different data base, both using Entity Framework.</p>
<p>To switch between approaches, it is just necessary to change the code of RestaurantWeb in Global.asax line 16 "Connection.******" ("Direct" Vs "WebApi")</p>
<br />
<h3>Administrator (full access)</h3>
<p>email: admin@admin.com</p>
<p>password: admin1234</p>
<br />
<h3>User (limited access)</h3>
<p>email: user@user.com</p>
<p>password: user1234</p>
<p>Or just create your own account to get user access</p>