
@{
    ViewBag.Title = "Restaurant";
}

<br />
<p class="text-center font-weight-bold">
    <font color="#000066" size="20" face="arial">Restaurant Web Application</font>
</p>

<p>This application has been developed by Délio Rolo and it is being updated regularly.</p>
<p>This is a primary version in order to present the work already done in the field of ASP .NET MVC.</p>
<p>The final version with the refactoring of the code should be completed soon enough.</p>
<br />
<br />
<h3>Administrator (full access)</h3>
<p>email: admin@admin.com</p>
<p>password: admin1234</p>
<br />
<h3>User (limited access)</h3>
<p>email: user@user.com</p>
<p>password: user1234</p>
<p>Or just create your own account to get user access</p>