@{
    ViewBag.Title = "Info";
}

<br />
<p class="text-center font-weight-bold">
    <font color="#000066" size="20" face="arial">Restaurant Web Application</font>
</p>

<p>This application has been developed by Délio Rolo in order to be used as a Restaurant Management Software</p>
<p>Its function is to assist in the administration and control of the production in a restaurant business.</p>
<p>It consists of an ASP .NET MVC application that consumes data from a REST WebAPI service connected to a Database.</p>
<br />
<h3>Administrator (full access)</h3>
<p>email: admin@admin.com</p>
<p>password: admin1234</p>
<br />
<h3>User (limited access)</h3>
<p>email: user@user.com</p>
<p>password: user1234</p>
<p>Or just create your own account to get user access</p>