@model IEnumerable<string>

@{


    ViewBag.Title = "ListAllLastProductsSoldFile";
}
<br />
<h2>Select the file you wish to download</h2>
<br />
@foreach (string name in Model)
{
    <button onclick="location.href='@Url.Action("DownloadProductsSoldFile", "Salles", new { fileName = name })'" type="button" class="btn btn-primary fixed_button border">@Html.DisplayFor(modelItem => name)</button>
}

